<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.guli.service.cms.mapper.AdMapper">

    <select id="selectAdVo" resultType="com.atguigu.guli.service.cms.entity.Vo.AdVo">
        select
        a.id,a.title,a.sort,t.title as type
        from
        cms_ad a
        join cms_ad_type t
        on t.id = a.type_id

        ${ew.customSqlSegment}
    </select>
</mapper>
